*
!.gitignore
!.editorconfig
!package.json
!package-lock.json
!README.md
!CHANGELOG.md
!server/
!server/**
!setup.cfg
!deploy/
!deploy/**
!.gitlab-ci.yml
!docker-compose.yml
!docker-compose.prod.yml
!docker
!docker/**
!docs/
!docs/**
node_modules/
server/storage
docker/config/.env
docker/config/.env.local.shell
docs/_build/
docs/_build/**
docker/.elasticbeanstalk/
docker/.elasticbeanstalk/**