*
!.gitignore
!.editorconfig
!package.json
!package-lock.json
!README.md
!CHANGELOG.md
!server/
!server/**
!setup.cfg
!deploy/
!deploy/**
!.devcontainer
!.devcontainer/docker-compose.yml
!.devcontainer/devcontainer.json
!.gitlab-ci.yml
!docker-compose.yml
!docker-compose.prod.yml
!docker-compose.dev.yml
!docker
!docker/**
!docs/
!docs/**
!deploy.sh
.env
.env.prod
.env.dev
node_modules/
server/storage
docker/config/.env.dev
docker/config/.env.prod
docker/config/.env.local.shell
docs/_build/
docs/_build/**
docker/.elasticbeanstalk/
docker/.elasticbeanstalk/**
!.vscode
!.vscode/**
!docker-compose.override.yml.template
|README.MD