services:

  web-local:
    build:
      target: builder_image
      context: .
      dockerfile: ./docker/express/Dockerfile
    volumes:
      - ./:/code
    environment:
      - NODE_ENV=development
